{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'settings.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-nav">
            <h1 style="font-size: 30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Online</h1>
        </div>
        <form action="{% url 'searchuser' %}" method="POST">
            {% csrf_token %}
            <div class="searchbar">
                <input type="text" placeholder="search" name="search">
                <button type="submit"><i class="uil uil-search"></i></button>
            </div>
        </form>
        <div class="right-nav">
            <img src="{{user_profile.profileimg.url}}"> 
        </div>
    </nav>
    <!----------------START NOTIFICATION POP UP------------- --> 
    <div class="notification">
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-1.png' %}">
            </div>
            <div class="notification-content">
                <b>Rakesh Shrestha</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-2.png' %}">
            </div>
            <div class="notification-content">
                <b>Shishir Basnet</b> liked your photo.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-3.png' %}">
            </div>
            <div class="notification-content">
                <b>Niya Shrestha</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-4.png' %}">
            </div>
            <div class="notification-content">
                <b>Prayag Maharjan</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-5.png' %}">
            </div>
            <div class="notification-content">
                <b>Shweta Don</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-6.png' %}">
            </div>
            <div class="notification-content">
                <b>Umesh Yadav</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-7.png' %}">
            </div>
            <div class="notification-content">
                <b>Supreme Shah</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
    </div>
    <!----------------END NOTIFICATION POP UP------------- -->

    <main>
        <div class="container">
            <div class="left"> 
                <!----------------START HANDLE------------- -->
                <div class="profile">
                    <a href="/profile/{{user.username}}">
                        <div class="profile-photo">
                            <img src="{{user_profile.profileimg.url}}">
                        </div>
                    <div class="handle">
                        <h3>{{user.first_name}} {{user.last_name}}</h3>
                        <p>@{{user.username}}</p>
                    </div>
                    </a>
                </div>
                <!----------------END HANDLE------------- -->
                
                <!----------------START SIDEBAR------------- -->
                <div class="sidebar">
                    <a href="/" class="item"><i class="uil uil-home"></i>Home</a>
                    <a href="explore" class="item"><i class="uil uil-compass"></i>Explore</a>
                    <a class="item notify"><i class="uil uil-bell"></i>Notifications</a>
                    <a href="messages" class="item"><i class="uil uil-envelope-alt"></i>Messages</a>
                    <a href="bookmark" class="item"><i class="uil uil-bookmark"></i>Bookmark</a>
                    <a href="" class="item"><i class="uil uil-chart-line"></i>Saved Videos</a>
                    <a class="item"><i class="uil uil-palette"></i>Theme</a>
                    <a href="settings" class="item active"><i class="uil uil-setting"></i>Settings</a>
                </div>  
                <a href="logout"><button>Logout</button></a> 
                <!----------------END SIDEBAR------------- -->
            </div>


            <!-- ----------------START RIGHT-------------- -->
            <div class="right">
                <div class="start">
                    <div class="settings-menu">
                        <ul type="none">
                            <li><i class="uil uil-user"></i>Edit Profile</li>
                            <li><i class="uil uil-user-circle"></i>Personal Details</li>
                            <li><i class="uil uil-bell"></i>Notifications</li>
                            <li><i class="uil uil-lock"></i>Account Privacy</li>
                            <li><i class="uil uil-ban"></i>Blocked Accounts</li>
                            <li><i class="uil uil-analytics"></i></i>Your Activity</li>
                            <li><i class="uil uil-shield-check"></i>Security</li>
                            <li><i class="uil uil-feedback"></i>Feedbacks</li>
                        </ul>
                    </div>
                    <div class="settings-menu-elements">
                        <h2 class="heading">User Profile Settings</h2>
                        
                        <form class="form" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="user-details">
                                <h3>Profile Picture:</h3>
                                <img src="{{user_profile.profileimg.url}}">
                                <input type="file" name="image" accept="image/*">
                            </div>
                            <div class="user-details">
                                <h3>Bio:</h3>
                                <textarea name="bio" rows="4">{{user_profile.bio}}</textarea>
                            </div>
                            <div class="user-details">
                                <h3>Location:</h3>
                                <input type="text" name="location" value="{{user_profile.location}}">
                            </div>
                            
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>