{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stories.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-nav">
            <h1 style="font-size: 30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Online</h1>
        </div>
        <form action="{% url 'searchuser' %}" method="POST">
            {% csrf_token %}
            <div class="searchbar">
                <input type="text" placeholder="Search for users..." name="search">
                <button type="submit"><i class="uil uil-search"></i></button>
            </div>
        </form>
        <div class="right-nav">
            <img src="{{user_profile.profileimg.url}}"> 
        </div>
    </nav>
    <!----------------START NOTIFICATION POP UP------------- --> 
    <div class="notification">
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-1.png' %}">
            </div>
            <div class="notification-content">
                <b>Rakesh Shrestha</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-2.png' %}">
            </div>
            <div class="notification-content">
                <b>Shishir Basnet</b> liked your photo.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-3.png' %}">
            </div>
            <div class="notification-content">
                <b>Niya Shrestha</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-4.png' %}">
            </div>
            <div class="notification-content">
                <b>Prayag Maharjan</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-5.png' %}">
            </div>
            <div class="notification-content">
                <b>Shweta Don</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-6.png' %}">
            </div>
            <div class="notification-content">
                <b>Umesh Yadav</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
        <div class="notification-sub">
            <div class="profile-photo">
                <img src="{% static 'member-7.png' %}">
            </div>
            <div class="notification-content">
                <b>Supreme Shah</b> started following you.
                <p class="notification-time">2 HOURS AGO</p>
            </div>
        </div>
    </div>
    <!----------------END NOTIFICATION POP UP------------- -->

    <main>
        <div class="container">
            <div class="left"> 
                <!----------------START HANDLE------------- -->
                <div class="profile">
                    <a href="/profile/{{user.username}}">
                        <div class="profile-photo">
                            <img src="{{user_profile.profileimg.url}}">
                        </div>
                    <div class="handle">
                        <h3>{{user.first_name}} {{user.last_name}}</h3>
                        <p>@{{user.username}}</p>
                    </div>
                    </a>
                </div>
                <!----------------END HANDLE------------- -->
                
                <!----------------START SIDEBAR------------- -->
                <div class="sidebar">
                    <a href="/" class="item"><i class="uil uil-home"></i>Home</a>
                    <a href="explore" class="item"><i class="uil uil-compass"></i>Explore</a>
                    <a class="item notify"><i class="uil uil-bell"></i>Notifications</a>
                    <a href="messages" class="item"><i class="uil uil-envelope-alt"></i>Messages</a>
                    <a href="bookmark" class="item"><i class="uil uil-bookmark"></i>Bookmark</a>
                    <a href="" class="item"><i class="uil uil-chart-line"></i>Saved Videos</a>
                    <a class="item"><i class="uil uil-palette"></i>Theme</a>
                    <a href="settings" class="item"><i class="uil uil-setting"></i>Settings</a>
                </div>  
                <a href="logout"><button>Logout</button></a> 
                <!----------------END SIDEBAR------------- -->
            </div>


            <div class="right">
                <!-- --------------------START VIEW STORIES----------------- -->
                <div class="storybox" id="story-box">
                    {% for all_story in all_stories %}
                    <div class="view-stories" >
                        <div class="user-story-details">
                            <img src="{{all_story.user.profile.profileimg.url}}">
                            <a href="/profile/{{all_story.user}}"><p><b>@{{all_story.user}}</b></p></a>
                        </div>
                        <div class="story-content">
                            <img src="{{all_story.story_image.url}}">
                        </div>
                        <div class="reply">
                            <input type="text" name="reply" placeholder="Reply...">
                            <i class="uil uil-heart"></i>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                <i class="uil uil-angle-right-b story-sliders" id="story-right"></i>
                <i class="uil uil-angle-left-b story-sliders" id="story-left"></i>
                <!-- --------------------END VIEW STORIES----------------- -->

            </div>
        </container>
    </main>
    <script src="{% static 'stories.js' %}"></script>
</body>
</html>